<!doctype html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cadastro de filme</title>
</head>
<body>
    <h1>Cadastro de filme</h1>

<form method="post" action="/filmes">
    <label for="nome">Nome:</label>
    <input id="nome" name="nome">
    <br>

    <label for="duracao">Duração (em minutos):</label>
    <input id="duracao" name="duracao">
    <br>

    <label for="ano">Ano:</label>
    <input id="ano" name="ano">
    <br>

    <label for="genero">Gênero:</label>
    <input id="genero" name="genero">
    <br>

    <input type="submit" value="Cadastrar">

</form>
</body>
</html>
